* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform 0.3s ease;
    contain: size layout style; */
    padding: 0 20px;
}
.body {
    background-color: #ffffff;
    /* padding-top: 80px; */
}
.logo {
    height: 70px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    padding: 0 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
}

.nav-item:hover {
    color: orangered;
    font-weight: bold;
}

.nav-item {
    color: orange;
    font-weight: bold;
    text-shadow: 0.025em 0.025em 0 yellow,
    0.05em 0.05em 0 blue,
    0.075em 0.075em 0 red,
    0.1em 0.1em 0 black;
}

.search {
    padding: 10px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow-wrap: break-word;
}
.res-cost {
    position: absolute;
    padding-left: 16px;
    padding-bottom: 16px;
    /* padding-top: 80px; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-transform: uppercase;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #ffffff;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 1px;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    background-image: linear-gradient(
        rgba(27, 30, 36, 0) 0%,
        rgb(27, 30, 36) 84.21%
    );
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}
.res-card {
    padding: 5px;
    margin: 5px;
    width: 300px;
    /* cursor: pointer; */
}
.res-card:hover {
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
    /* border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: all 0.1s ease-in 0s;
}
.res-logo {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 16px;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.res-logo-container {
    display: block;
    position: relative;
}

.filter-btn {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

.search-input {
    padding: 10px;
    min-width: 300px;
}

.shimmer {
    /* padding-top: 80px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.shimmer-card {
    width: 300px;
    height: 270px;
    background-color: gray;
    margin: 5px;
    border-radius: 16px;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.user-card {
    padding: 10px;
    border: 1px solid black;
}
